/* ==========================================================================
   Header / Component
   ========================================================================== */

.header {
    --header-height: 100px;
    --logo-width: 200px;
    background-color: var(--color-bg-secondary);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.4s $ease-out-expo;

    .wrapper {
        display: flex;
        height: var(--header-height);
        align-items: center;
        justify-content: space-between;
    }

    &::before {
        content: '';
        display: flex;
        justify-content: space-between;
        height: 100%;
        background-color: var(--color-bg-secondary);
        z-index: 2;
    }

    @media screen and (min-width: $breakpoint-xl) {
        padding: calc(var(--spacing-md) / 2) var(--spacing-md);
    }

    .header-is-hidden.is-scrolling-down & {
        transform: translateY(-100%) translateY(4px);
    }
}

.header__brand {
    z-index: 10;

    img {
        height: 100px;
    }

    @media screen and (min-width: $breakpoint-xl) {
        margin: 40px 0;
    }
}

.nav-primary {
    background-color: var(--color-bg-secondary);

    width: 100%;
    padding-top: var(--header-height);
    overflow-y: auto;
    z-index: 1;
    transform: scale(0);
    transition: all 0.4s $ease-out-expo;

    @media screen and (min-width: $breakpoint-xl) {
        position: absolute;
        top: auto;
        left: auto;
        height: auto;
        width: 100%;

        padding: 100px;

        z-index: 2;
        transition: all 0.4s $ease-in-expo;
    }

    .nav-is-active & {
        position: absolute;
        transform: scale(1);
        transition: all 0.4s $ease-in-expo;
        padding: 100px;
        width: 100%;

        top: 100%;
        left: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 20px;
        width: 100%;

        @media screen and (min-width: $breakpoint-xl) {
            flex-direction: row;
            height: 100%;
        }

        .nav-is-active {
            transform: translateY(0);
            opacity: 1;
            font-size: xx-large;
        }
    }

    li {
        margin: auto;
        padding: 20px;
        .nav-is-active {
            margin: auto;
        }
    }

    .nav-right {
        @media screen and (min-width: $breakpoint-xl) {
            // margin-left: calc(var(--logo-width) + 40px);
        }
    }
}

.nav-primary__item {
    font-size: var(--font-size-h1);
    color: var(--color-white);
    text-transform: uppercase;
    padding: 0 20px;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 20px;
        height: 2px;
        width: calc(100% - 40px);
        background-color: white;
        transform: scaleX(0);
        transition: 0.3s all;
    }

    &:hover {
        color: inherit;
    }

    @media screen and (min-width: $breakpoint-xl) {
        font-size: var(--font-size-h2);
        text-transform: none;

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.header__toggle {
    --bar-height: 8px;
    --bar-width: 50px;
    --bar-spacer: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span {
        background: var(--color-white);
        border-radius: 3px;
        height: var(--bar-height);
        width: 100%;
        position: absolute;
        left: 0;
        transition: 0.3s all ease-out;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }
        &:nth-child(2) {
            top: calc(50% - var(--bar-height) / 2);
        }
        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }
    }

    .nav-is-active & span {
        top: calc(50% - var(--bar-height) / 2);

        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform: scaleX(0);
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        display: none;
    }
}

.nav-is-active body {
    overflow: hidden;
}
