.produit {
    background-color: var(--color-bg);
    margin: 30px 0;
    padding: 35px 0;

    h2 {
        margin: 40px 0;
        color: white;
    }
    article {
        background: white;
        border-radius: 10px;
        width: 377px;
        margin: 0 auto;
    }
    img {
        background-color: var(--color-green-primary);
    }
    .carousel {
        display: flex;
        align-items: center;
    }
    .contenue {
        margin: 0 10px;
        overflow: hidden;
    }
    .prixAcheter {
        display: flex;

        justify-content: space-between;
        .button {
            background: var(--color-yellow-primary);
            height: fit-content;
        }
    }
    .but {
        margin: 30px 0;
    }
}
