.opa {
    .snackBar {
        display: none; //rend non utlisable
    }
}
.snackBar {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
            justify-content: space-between;
            position: relative;
            p {
                margin-right: 30px;
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px;
    }
    li {
        margin: 0 10px;
        &:hover:not(button) {
            color: var(--color-orange-primary);
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
    /** js */
    z-index: 10;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--color-green-primary);
    color: white;

    transition: all 0.4s $ease-out-expo;
    overflow: hidden;

    .snackBar-is-hidden.is-scrolling-down & {
        transform: translateY(100%) translateY(4px);
        transition: 1s;
        opacity: 0;
    }

    .snackBar-is-active {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.4s $ease-out-expo 0.2s;
    }
}
.snackBar__close {
    --bar-width: 2px;
    --button-size: 1px;

    background: transparent;
    border: none;
    cursor: pointer;
    height: var(--button-size);
    outline: none;
    padding: 0;

    width: var(--button-size);

    &::before,
    &::after {
        background: white;
        bottom: 0;
        content: '';
        height: var(--bar-width);

        top: 0;
        margin: auto;
        padding: 0px;
        position: absolute;
        transition: transform 0.3s $ease-out-expo;
        width: 20%;
    }

    &::before {
        transform: rotate(-45deg);
    }
    &::after {
        transform: rotate(45deg);
    }

    &:hover {
        opacity: 0.7;
        &::before {
            transform: rotate(0);
        }
        &::after {
            transform: rotate(0);
        }
    }
}
