/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }

    &.disabled {
        color: #e2e2e2;
    }
}
