/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1200px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
}
