/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-green-primary: #4bb8b2;
    --color-yellow-primary: #fad060;
    --color-orange-primary: #ff685b;
    --color-purple-primary: #423b7d;
    --color-purple-sous-primary: #7854f7;
    --color-grey-campagne: #808080;

    --color-bg: #eef4f8;

    --color-neutral-light: #eeeeee;
    --color-neutral-dark: #888888;

    --color-fail: #f6511d;
}
