{% include '_partials/_header.html' %}
<section class="swiper demo">
    <div class="wrapper">
        <article class="default" id="default">
            <h2>default</h2>
            <div class="swiper" data-component="Carousel">
                
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide carre">Slide 1</div>
                  <div class="swiper-slide carre">Slide 2</div>
                  <div class="swiper-slide carre">Slide 3</div>
                 
                </div>
        </article>
        <article class="split" id="split">
            <h2>split</h2>
            <div class="swiper" data-split="split" data-component="Carousel">
                
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide carre">Slide 1</div>
                  <div class="swiper-slide carre">Slide 2</div>
                  <div class="swiper-slide carre">Slide 3</div>
                 
                </div>
        </article>
        <article class="autoplay" id="autoplay">
            <h2>autoplay</h2>
            <div class="swiper" data-autoplay="autoplay" data-component="Carousel">
                
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide carre">Slide 1</div>
                  <div class="swiper-slide carre">Slide 2</div>
                  <div class="swiper-slide carre">Slide 3</div>
                 
                </div>
        </article>
        <article class="upDown" id="upDown">
            <h2>Up et Down</h2>
            <div class="swiper" data-loop="loop" data-vert="vert" data-component="Carousel">
                
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide carre">Slide 1</div>
                  <div class="swiper-slide carre">Slide 2</div>
                  <div class="swiper-slide carre">Slide 3</div>
                 
                </div>
        </article>
        <article class="gap" id="gap">
            <h2>Gap</h2>
            <div class="swiper" data-gap="50" data-component="Carousel">
                
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide carre">Slide 1</div>
                  <div class="swiper-slide carre">Slide 2</div>
                  <div class="swiper-slide carre">Slide 3</div>
                 
                </div>
        </article>
        <article class="loop" id="loop">
          <h2>Loop</h2>
          <div class="swiper" data-gap="50" data-loop="loop" data-component="Carousel">
              
              <div class="swiper-wrapper">
                
                <div class="swiper-slide carre">Slide 1</div>
                <div class="swiper-slide carre">Slide 2</div>
                <div class="swiper-slide carre">Slide 3</div>
               
              </div>
      </article>
    </div>
</section>

{% include '_partials/_footer.html' %}
