{% include '_partials/_header.html' %}

<section class="presentation">
    <div class="wrapper">
        <h1>TimTools</h1>
        <p>
            Dans le monde de la technologie d'aujourd'hui, les outils de programmation web sont devenus indispensables
            pour créer des sites et des applications web modernes et interactifs. Que vous soyez un développeur débutant
            ou expérimenté, avoir les bons outils à portée de main est essentiel pour produire un code propre et
            efficace.
        </p>
        <p>
            Le réusinage de code et le partage sont deux pratiques clés pour améliorer l'efficacité du développement
            logiciel. Le réusinage de code consiste à réutiliser des morceaux de code existants plutôt que de les
            réécrire à partir de zéro, ce qui peut économiser du temps et des ressources. Le partage de code, quant à
            lui, permet aux développeurs de collaborer et de partager des ressources communes, ce qui peut accélérer le
            développement et améliorer la qualité du code. En somme, le réusinage de code et le partage sont des
            pratiques clés pour une programmation plus efficace et collaborative.
        </p>
        <p>Voici quelque composant qui sont interesant : Carousel, Header, Scrolly et bien plus encore!</p>
        <p>derniere modification :</p>
        <p><a class="auteur" href="https://github.com/WonderedGnat082">Xavier Perras</a></p>
        <a href="exemple.html">exemples pour présenter du code</a>
    </div>
</section>

{% include '_partials/_footer.html' %}
