{% include '_partials/_header.html' %}

<section class="section section--full">
    <h2 class="section__title">En Construction</h2>
    <div class="video" data-component="YouTube" data-youtube-id="7NK_JOkuSVY">
        <div class="video__media js-youtube">
            <img class="js-poster" src="assets/images/logo-timtools-invert.svg" alt="" />
            <svg class="icon icon--stroke icon--xl">
                <use xlink:href="#icon-play"></use>
            </svg>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
