{% include '_partials/_header.html' %}

<section class="youtube"> <div class="wrapper">
    <h1>Youtube</h1>
    <p>
        Le Composant YouTube Player est un outil simple et efficace qui permet d'intégrer facilement des vidéos YouTube dans vos applications web. Ce composant fournit une interface utilisateur intuitive pour lire, mettre en pause, avancer ou reculer dans les vidéos, tout en respectant les bonnes pratiques d'accessibilité.
    </p>

    <h2>Comment l'utiliser :</h2>
    <p>Sur la balise div de la section html voulu. Appliquer le data component youtube</p>
    <script type="text/plain" class="language-markup">
         # HTML
        <body data-component="YouTube">
    </script>
    <p>sur la meme ligne on va ajouter le lien youtube!</p>
    <script type="text/plain" class="language-markup">
           # HTML
           <div class="video" data-component="YouTube" data-youtube-id="7NK_JOkuSVY">
    </script>
    <img src="assets/images/lienyoutube.png" alt="">
   


 <div class="video" data-component="YouTube" data-youtube-id="7NK_JOkuSVY">
        <div class="video__media js-youtube">
            <img class="js-poster" src="assets/images/logo-timtools-invert.svg" alt="" />
            <svg class="icon icon--stroke icon--xl">
                <use xlink:href="#icon-play"></use>
            </svg>
        </div>
    </div>
</section>



{% include '_partials/_footer.html' %}
